<div class="header">
  </div>
  
  <div class="topnav">
    <a href="/owner-home-page">Home</a>
    <a href="/company-update">Update Business</a>
    <a href="/create-job-offers">Create a Job offer</a>
    <a href="/api-key-save">Input Api Key</a>
    <a href="/user-home-page">Log out</a>
  </div>
  <div class="page">
      <mat-card>
        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h2>Update your company</h2>
    
            <mat-form-field class="full-width-input">
              <input  class="form-control"   matInput [value]="company?.name"  placeholder="Name" formControlName="name" >
              <mat-error>
                Please provide a valid name
              </mat-error>
            </mat-form-field>
          
            <mat-form-field class="full-width-input">
              <input  class="form-control"   matInput [value]="company?.phone" placeholder="Phone" formControlName="phone" >
              <mat-error>
                Contact is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input  class="form-control"   matInput [value]="company?.companyEmail" placeholder="CompanyEmail" formControlName="companyEmail" >
                <mat-error>
                  email is required
                </mat-error>
              </mat-form-field>
            <mat-form-field class="full-width-input">
                <input  class="form-control"   matInput [value]="company?.address" placeholder="Address" formControlName="address" >
                <mat-error>
                  Contact is required
                </mat-error>
              </mat-form-field>
            <mat-form-field class="full-width-input">
              <input  class="form-control"   matInput value={{company?.workDescription}}  placeholder="WorkDescription" formControlName="workDescription" >
              <mat-error>
                Work Description name is required
              </mat-error>
          </mat-form-field>
            <mat-form-field class="full-width-input">
              <input  class="form-control"   matInput value={{company?.cultureDescription}}  placeholder="CultureDescription" formControlName="cultureDescription"  >
              <mat-error>
                Please provide a valid Job Culture
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input  class="form-control"   matInput value={{company?.jobPosition}}  placeholder="JobPositions" formControlName="jobPositions"  >
                <mat-error>
                  Please provide a valid Job position
                </mat-error>
              </mat-form-field>
            <br>
            <br>
            <button mat-raised-button color="primary">Update</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>