<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
    :host {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14px;
      color: #333;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 8px 0;
    }
  
    p {
      margin: 0;
    }
  
    .spacer {
      flex: 1;
    }
  
    .vl {
    border-left: 6px solid rgb(61, 19, 245);
    height: 500px;
  }
  
    .toolbar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 60px;
      display: flex;
      align-items: center;
      background-color: #1976d2;
      color: white;
      font-weight: 600;
    }
  
    .buttonLogin{
      width: 150px;
      height: 40px;
      left: 5;
      right: 5;
      margin: 0 10px;
      background-color: #ffffff;
      font-size: 20px;
      color: #000000;
      border-radius: 40%;
    }
  
    .card2{
      margin-top:5%;
    }
  
    .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    } 
  
  .price {
    color: grey;
    font-size: 22px;
  }
    
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
   }
    .container {
    position: relative;
    text-align: center;
    color: white;
    height: 700px;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    font-size: 80px;
    margin-top: 10%;
  }
  
  .container2 {
    position: relative;
    text-align: center;
    color: white;
    height: 700px;
  }
  .centered1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    font-size: 80px;
    margin-top: -25%;
  }
  
  
  
    .toolbar img {
      margin: 0 16px;
    }
  
    .toolbar #twitter-logo {
      height: 40px;
      margin: 0 8px;
    }
  
    .toolbar #youtube-logo {
      height: 40px;
      margin: 0 16px;
    }
  
    .toolbar #twitter-logo:hover,
    .toolbar #youtube-logo:hover {
      opacity: 0.8;
    }
  
    .content {
      display: flex;
      margin: 82px auto 32px;
      padding: 0 16px;
      max-width: 960px;
      flex-direction: column;
      align-items: center;
    }
  
    svg.material-icons {
      height: 24px;
      width: auto;
    }
  
    svg.material-icons:not(:last-child) {
      margin-right: 8px;
    }
  
    .card svg.material-icons path {
      fill: #888;
    }
  
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 16px;
    }
  
    .card {
      all: unset;
      border-radius: 4px;
      border: 1px solid #eee;
      background-color: #fafafa;
      height: 40px;
      width: 200px;
      margin: 0 8px 16px;
      padding: 16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
    }
  
    .card-container .card:not(:last-child) {
      margin-right: 0;
    }
  
    .card.card-small {
      height: 16px;
      width: 168px;
    }
  
    .card-container .card:not(.highlight-card) {
      cursor: pointer;
    }
  
    .card-container .card:not(.highlight-card):hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
  
    .card-container .card:not(.highlight-card):hover .material-icons path {
      fill: rgb(105, 103, 103);
    }
  
    .card.highlight-card {
      background-color: #1976d2;
      color: white;
      font-weight: 600;
      border: none;
      width: auto;
      min-width: 30%;
      position: relative;
    }
  
    .card.card.highlight-card span {
      margin-left: 60px;
    }
  
    svg#rocket {
      width: 80px;
      position: absolute;
      left: -10px;
      top: -24px;
    }
  
    svg#rocket-smoke {
      height: calc(100vh - 95px);
      position: absolute;
      top: 10px;
      right: 180px;
      z-index: -10;
    }
  
    a,
    a:visited,
    a:hover {
      color: #1976d2;
      text-decoration: none;
    }
  
    a:hover {
      color: #125699;
    }
  
    .terminal {
      position: relative;
      width: 80%;
      max-width: 600px;
      border-radius: 6px;
      padding-top: 45px;
      margin-top: 8px;
      overflow: hidden;
      background-color: rgb(15, 15, 16);
    }
  
    .terminal::before {
      content: "\2022 \2022 \2022";
      position: absolute;
      top: 0;
      left: 0;
      height: 4px;
      background: rgb(58, 58, 58);
      color: #c2c3c4;
      width: 100%;
      font-size: 2rem;
      line-height: 0;
      padding: 14px 0;
      text-indent: 4px;
    }
  
    .terminal pre {
      font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
      color: white;
      padding: 0 1rem 1rem;
      margin: 0;
    }
  
    .circle-link {
      height: 40px;
      width: 40px;
      border-radius: 40px;
      margin: 8px;
      background-color: white;
      border: 1px solid #eeeeee;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: 1s ease-out;
    }
  
    .circle-link:hover {
      transform: translateY(-0.25rem);
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }
  
    footer {
      margin-top: 8px;
      display: flex;
      align-items: center;
      line-height: 20px;
    }
  
    footer a {
      display: flex;
      align-items: center;
    }
  
    .github-star-badge {
      color: #24292e;
      display: flex;
      align-items: center;
      font-size: 12px;
      padding: 3px 10px;
      border: 1px solid rgba(27,31,35,.2);
      border-radius: 3px;
      background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
      margin-left: 4px;
      font-weight: 600;
    }
  
    .github-star-badge:hover {
      background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
      border-color: rgba(27,31,35,.35);
      background-position: -.5em;
    }
  
    .github-star-badge .material-icons {
      height: 16px;
      width: 16px;
      margin-right: 4px;
    }
  
    svg#clouds {
      position: fixed;
      bottom: -160px;
      left: -230px;
      z-index: -10;
      width: 1920px;
    }
  
    /* Responsive Styles */
    @media screen and (max-width: 767px) {
      .card-container > *:not(.circle-link) ,
      .terminal {
        width: 100%;
      }
  
      .card:not(.highlight-card) {
        height: 16px;
        margin: 8px 0;
      }
  
      .photo_strech {
      width: 100%;
      height: 500px;
      
        
      }
  
      .card.highlight-card span {
        margin-left: 72px;
      }
  
      svg#rocket-smoke {
        right: 120px;
        transform: rotate(-5deg);
      }
    }
  
    @media screen and (max-width: 575px) {
      svg#rocket-smoke {
        display: none;
        visibility: hidden;
      }
    }
  </style>
  
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <img
      width="40"
      alt="Angular Logo"
      src="assets/jobIcon.png"
    />
    <span><b>Welcome to agent app</b></span>
      <div class="spacer"></div>
      <a routerlink="/registration" routerLinkActive="active" style="font-size:30px; color:#e6ebf1;">Sign up</a>
      <button class="buttonLogin" onclick="login()">Login</button>
  </div>
  
  <div class="container">
    <img src="assets/jobs.jpg" alt="Snow" style="width:90%; height: 85%; margin-top: 5%; opacity: 90%;">
    <div class="centered">Find perfect job for you! </div>
  
  </div>
  
  <h2 style="text-align:center; font-size:40px;"><b>How can we help you ?</b></h2>
  
  <div >
    <img src="assets/jobSearch.jpg" alt="jobSearch" style="width:250px; height:200px; position:relative; left: 200px; bottom:0; top: 50px;">
    <h1 style="font-size:30px; color:#125699; position:relative; left: 230px; bottom:0px; top: 60px;"><b>EXPLORE</b></h1>
    <p style="font-size:20px; color:#125699; position:relative; left: 240px; bottom:0px; top: 70px;">job options</p>
  
    
  <img src="assets/salary.jpg" alt="jobSearch" style="width:250px; height:200px; position:relative; left: 580px; bottom:245px;">
  
    <h1 style="font-size:30px; color:#125699;  position:relative; left: 610px; bottom:0px; top: -225px;"><b>SALARY</b></h1>
    <p style="font-size:20px; color:#125699;  position:relative; left: 610px; bottom:0px; top: -215px;">expected salarys</p>
  
  <img src="assets/kolege.jpg" alt="jobSearch" style="width:250px; height:200px; position:relative; left: 930px; bottom:540px;">
  
    <h1 style="font-size:30px; color:#125699;  position:relative; left: 970px; bottom:0px; top: -525px;"><b>COMMENTS</b></h1>
    <p style="font-size:20px; color:#125699; position:relative; left: 950px; bottom:0px; top: -515px;">impressions of the employee</p>
  
  <img src="assets/job-interview.jpg" alt="jobSearch" style="width:250px; height:200px; position:relative; left: 1355px; bottom:830px;">
  
    <h1 style="font-size:30px; color:#125699; position:relative; left: 1395px; bottom:0px; top: -815px;"><b>JOB INTERVIEW</b></h1>
    <p style="font-size:20px; color:#125699; position:relative; left: 1365px; bottom:0px; top: -805px;">get ready for Your interview</p>
  
  </div>
  
  <div class="container2">
    <img src="assets/register.jpg" alt="Snow" style="width:90%; height: 85%; margin-top: -45%; opacity: 70%;">
    <div class="centered1">
      <p style="font-size:40px; text-shadow: 2px 3px; margin-top:-5%; font-optical-sizing: 30px; color:#125699;">If you are looking for job or you want to promote your company, register right now !</p>
      <button style="height:80px; width: 200px;  font-size:30px; color: #125699; border-color: #125699; border-width: 5px;">Register</button>
    </div>
  
  </div>
  
  
  <div style="margin-top:-30%">
    <div style="position:relative; left:300px; top:10px;">
      <h2 class="link_title">Product</h2>
      <h4 class="link_subtitle">Our plan</h4>
      <h4 class="link_subtitle">Free trial</h4>
    </div>
    <div class="v1" style=" border-left: 6px solid rgb(8, 30, 235);
    height: 100px;
    position: relative;
    left: 440px;
    top:-70px;"></div>
  
    <div style="position:relative; left:600px; top:-185px;">
      <h2 class="link_title">About us</h2>
      <h4 class="link_subtitle">Request demo</h4>
      <h4 class="link_subtitle">FAQs</h4>
    </div>
    <div class="v1" style=" border-left: 6px solid rgb(8, 30, 235);
    height: 100px;
    position: relative;
    left: 750px;
    top:-270px;"></div>
    <div style="position:relative; left:900px; top:-380px;">
      <h2 class="link_title">Support</h2>
      <h4 class="link_subtitle">Services</h4>
      <h4 class="link_subtitle">Contact us</h4>
    </div>
    <div class="v1" style=" border-left: 6px solid rgb(8, 30, 235);
    height: 100px;
    position: relative;
    left: 1050px;
    top:-475px;"></div>
    <div style="position:relative; left:1200px; top:-570px;">
      <h2 class="link_title">Covid-19 FAQs</h2>
      <h4 class="link_subtitle">Reviews</h4>
      <h4 class="link_subtitle">Safety</h4>
    </div>
  </div>
